{
    "extends": ["airbnb-base",
      "prettier",
      "eslint:recommended",
      "plugin:react/recommended"],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": "error"
    },
    "env": {
      "jest": true
    }
  }
